@{
    ViewBag.Title = "About";
}
<style>
    #main {
        background-color: tan;
    }
</style>

<div id="main">
    <h2 id="main">About This Website</h2>

    <p id="main">This is a simple project that I made for the final project in Elevenfifty.</p>
</div>
