@{
    ViewBag.Title = "Home Page";
}
<style>
    #main {
        background-color: tan;
        text-align: center;
    }
</style>

<div class="jumbotron">
    <h1>Dark Souls: MVC Edition</h1>
    <p class="lead">This is a fan made, Dark Souls themed MVC made for a final project for Elevenfifty Academy.</p>
    <p><a class="btn btn-primary btn-lg" @Html.ActionLink("About", "About", "Home")</a></p>
</div>

<div class="row" id="main">
    <div class="col-lg-12">
        <h1>How to use this site</h1>
        <p>
            Dark Souls: MVC Edition is very simple to use. Simply navigate to the type of entity you wish to view and it will pull up a list
            of anything that belongs in that catagory!
        </p>
        <p><a class="btn btn-default" @Html.ActionLink("Contact Us", "Contact", "Home")</a></p>
    </div>
    @*<div class="col-md-4">
        <h2>Get more libraries</h2>
        <p>NuGet is a free Visual Studio extension that makes it easy to add, remove, and update libraries and tools in Visual Studio projects.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Web Hosting</h2>
        <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>*@
</div>